<div class="logIn">
    <div class="signUpHeader">
      <h1>Log in to your YogaFlow account!</h1>
      <div class="returnToIndex">
        <%= link_to "Go Back", root_path, id: "go-back" %>
      </div>
    </div>

    <div id="sessionErrorMessages">
      <% if @user.errors.any? %>
        <div class="error_explanation">
          <h2>There were some errors:</h2>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    
    <div class="logInForm">
      <%= form_tag sessions_path do %>

        <div>
          <h3 class="formUsername"><%= label_tag :username %><br /></h3>
          <%= text_field_tag :username %><br />
        </div>

        <div>
          <h3 class="formPasswrod"><%= label_tag :password %><br /></h3>
          <%= password_field_tag :password %><br />
          <%= submit_tag "Log In", :class => 'log_in_button' %>
        </div>
        <% end %>
    </div>
  </div>
