<div class="newSequence">
  <div id="newSequenceHeader">
    <h1>Create a new yoga sequence</h1>
    <div class="returnToIndex">
      <%= link_to "Go Back", root_path, id: "go-back" %>
    </div>
  </div>

  <div id="newSequenceForm">
    <%= form_for(@sequence, url: sequence_index_path) do |f| %>
      <div id="newSequenceTitle">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <br>
      <div id="newSequenceDifficulty">
        <%= f.label :difficulty, "Sequence Difficulty:" %>
        <h4>(1 - 5 scale, 1 = easiest, 5 = hardest)</h4>
        <%= f.select :difficulty, options_for_select(1..5), :prompt => 'Select a level of difficulty' %>
      </div>
      <br>
      <div class="poseBuilderDisplay">
        <% 10.times do |i| %>
          <%= render :partial => 'layouts/poseBuilder', :locals => {:f => f, :i => i} %>
        <% end %>
      </div>
      <!-- <button type="button" name="button" class="addMorePoses">Add more poses</button> -->
      <br>
      <br>
      <div id="newSequenceRepititions">
        <%= f.label :repititions %>
        <%= f.select :repititions, options_for_select(1..10), :prompt => 'Select number of repitions' %>
      </div>
      <br>
      <%= f.submit %>
    <% end %>
  </div>
</div>
<br />
