<div class="newSequence">
  <h1>Create a new yoga sequence</h1>

  <div id="newSequenceForm">
    <%= form_for(@sequence, url: sequence_index_path) do |f| %>
      <div id="newSequenceTitle">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <br>
      <div id="newSequenceDifficulty">
        <%= f.label :difficulty, "Sequence Difficulty:" %>
        <h4>(1 - 5 scale, 1 = easiest, 5 = hardest)</h4>
        <%= f.select :difficulty, options_for_select(1..5), :prompt => 'Select a level of difficulty' %>
      </div>
      <br>
      <div class="newSequencePoses">
        <%= f.fields_for :poses do |pose_builder| %>
            <%= f.label :add_pose_to_this_sequence %>
            <%= select_tag 'sequence[pose_ids][]', "<option value='new'>Create a new pose</option>" + options_from_collection_for_select(@poses.uniq.sort_by {|pose| pose.sanskrit_name}, "id", "display_name", params[:id]), {:prompt => 'Select a pose', :onchange => "setValue();"} %>
            or create a new pose:
            <!-- Show poseBuilder if create a new pose is selected -->
            <div id="poseBuilder">
              <%= pose_builder.label :sanskrit_name %>
              <%= pose_builder.text_field :sanskrit_name %>
              <%= pose_builder.label :english_name %>
              <%= pose_builder.text_field :english_name %><br />
            </div>
        <% end %>
      </div>

    <% end %>
  </div>
</div>
