<div class="sequenceDetails">
  <div id="sequenceTitle">
    <h1><%= @sequence.title %></h1>
  </div>

  <div id="sequenceDifficulty">
    <h2>Sequence Difficulty: <%= @sequence.difficulty %></h2>
  </div>

  <div id="sequencePoses">
    <ul>
      <% @sequence.poses.each do |pose| %>
        <li>
          <h3><%= pose.sanskrit_name %> - <%= pose.english_name %></h3>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="sequenceRepititions">
    <h4>Repeat this sequence <%= @sequence.repititions %> times</h4>
  </div>

  <div class="returnToIndex">
    <%= link_to "Go Back", root_path, id: "go-back" %>
  </div>
</div>
