<div class="signUpHeader">
  <h1>Sign up for a YogaFlow account!</h1>
</div>

<div class="createUserForm">
  <%= form_for @user do |f| %>

    <% if @user.errors.any? %>
      <div class="errorExplanation">
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= f.label :username %><br />
      <%= f.text_field :username %><br />
    </div>

    <div>
      <%= f.label :password %><br />
      <%= f.password_field :password %><br /><br />
    </div>
    <%= f.submit %>
  <% end %>

</div>
