
<!DOCTYPE html>
<html>
<head>
  <title>Yogaflow2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id ="user-widget">
  <% if current_user %>
    Welcome <%= current_user.username %>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign up for a YogaFlow account", new_user_path %>
    <br>
    <%= link_to "Log in to your YogaFlow account", new_session_path %>
    <br>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>
<%= yield %>

</body>
</html>
